---
import '../styles/global.css';

interface Props {
  title?:       string;
  description?: string;
}

const {
  title       = 'shortbusmenace',
  description = 'AI, ethics, humanity, old internet, crypto, vaporwave.',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <slot />
  </body>
</html>
